{%- liquid
  assign variant = value.variant
  assign variant_image = variant.image
  assign variant_id = variant.id
  assign variant_price = variant.price
  assign formatted_variant_price = variant_price | money
-%}

<div class="product__form-group product__form-option">
  <label for="{{ variant_id }}">
    {%- if variant_image -%}
      <img src="{{ variant_image | image_url}}" width="auto" height="auto" />
    {%- endif -%}
    {{ value.name }}<br />{{ formatted_variant_price }} ea.
  </label>
  <input
    type="number"
    value="0"
    max="{{ max | minus: 1 }}"
    min="0"
    name="{{ variant_id }}"
    class="js-bundle-input"
    data-price="{{ variant_price }}"
    {% unless value.available %}
      disabled
    {% endunless %}
  >
</div>
